@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}



    <div class="container">
        @Html.Partial("_Product")
    </div>

<div class="container text-center" style="color: #5C245F; font-size:large; margin-top: 60px; padding-left: 5vw; padding-right: 5vw;">
    <p>Advertising is telling the world how great you are, while publicity is having others
    tell the world how great you are. Companies and organizations that understand the importance of publicity are generally
    more successful than those who use advertising alone to reach their target audiences.</p>

    <button type="button" class=" btn btn-rounded"><img src="~/Icons/icons8-tv-50.png" /> Contact</button>
</div>



<style>
    .btn-rounded{
        margin-top: 20px;
        background-color: #9B689E;
        color: #fff;
        border-radius: 25px;
        padding: 10px 25px;
        font-size: 20px;
    }

    .btn-rounded:hover{
        background-color: #5C245F;
        color: #fff;
    }
</style>