@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

    <section>
        <img style="width: 100%;" src="~/Images/background-top.PNG" />
    </section>

    <section style="margin-top: 50px;">
        <div class="container">
            <h1 class="text-color-dark-purple landingpage-offer-header-big">We offer</h1>
            <h2 class="landingpage-offer-header-medium">The following packages</h2>
            <div style="margin-top: 60px;">
                <!-- Products display modal -->
                @Html.Partial("_Product")
            </div>
        </div>
    </section>

    <section style="margin-top: 60px;">
        <div class="container text-center advert-text">
            <p>
                Advertising is telling the world how great you are, while publicity is having others
                tell the world how great you are. Companies and organizations that understand the importance of publicity are generally
                more successful than those who use advertising alone to reach their target audiences.
            </p>

            <button id="btnTest" type="button" class=" btn btn-rounded btn-dark-purple"><img src="~/Icons/icons8-tv-50.png" /> Contact</button>
        </div>
    </section>

    <section style="margin-top: 150px;">
        <img style="width: 100%;" src="~/Images/background-bottom.PNG" />
    </section>





<style>
    
</style>